.game {
	font-family: "Poppins", sans-serif;
	width: 470px;
	margin: auto;
	background-color: #d6ffff;
	&__name {
		text-align: center;
		font-size: 45px;
		background-color: #b71a1b;
		color: white;
		margin-bottom: 30px;
	}
	&__details {
		text-align: center;
		margin-bottom: 30px;
	}
	&__play {
		text-align: center;
	}
	&__input {

		border: 0;
		width: 150px;
		height: 50px;
		padding: 0 20px;
		margin: 20px;
		font-size: 18px;
		color: white;
	}
}