.game {
	font-family: "Poppins", sans-serif;
	width: 470px;
	margin: auto;
	background-color: #d6ffff;
	margin-bottom: 50px;
	&__name {
		text-align: center;
		font-size: 45px;
		background-color: #b71a1b;
		color: white;
	}
}